.selected{
    background-color: rgb(209, 41, 125);
}
.badge{
    padding: 10px;
    font-size: smaller;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    color: blueviolet;
    background-color: rgb(94, 140, 207);
    border-radius: 5px 0px 0px 5px;
    border-right: 1px solid rgb(54, 48, 48);
}
.name{
    color: rgb(102, 38, 38);
    font-size: smaller;
    padding: 8px;
    background-color: rgb(70, 107, 33);
    border-radius: 0px 5px 5px 0px;
}
.heroes{
    padding: 20px;
}
.customlist{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}